body {
  background-color: #333;
  /* Dark background color for the entire page */
  color: white;
  /* Text color */
  font-family: 'Times New Roman', serif;
  /* Set font to Times New Roman */
  font-size: 22px;
  /* Default font size for computer screens */
  text-align: center;

  margin: 5% 5%;
  /* Add 5% margin on the left and right sides */

}

@media only screen and (max-width: 300px) {

  /* Font size for screens smaller than 768px (e.g., mobile screens) */
  * {
    font-size: 14px;
  }

  body {
    margin: 5% 5%;
  }
}

select {
  max-width: 80%;
  /* Set the height of select boxes */
  padding: 5px 5px;
  /* Add padding for better visual appearance */
  font-size: 14px;
  /* Adjust font size for select boxes */
  vertical-align: top;
  /* or middle */
}

input,
button,
option {
  font-size: 22px;
  text-align: center;
}

/* make all input boxes for digits shorter */
.digital {
  width: 60px;
}

.top-right {
  text-align: right;
}

.go-left {
  margin: 2%;
  text-align: left;
}

.go-right {
  position: absolute;
  right: 5%;
}

/* used only for the 3 buttons/input boxes for adding/removing parties */
.flex-outside {
  display: flex;
  justify-content: space-between;
  /* Align flex items in the same horizontal space */
  flex-wrap: wrap;
  /* Allow flex items to wrap on smaller screens */
}

.flex-box {
  text-align: left;
  margin: 2%;
}

/* styling for the affirmation title (i.e. 1st Affirmation of Ming */
.affirm-box {
  display: inline-block;
  border-top: 2px solid white;
  /* Adjust border color to match text color */
  border-bottom: 2px solid white;
  /* Adjust border color to match text color */
}

/* used only for the affirmed on and filed on parts in the backsheet*/
.backsheet-outside {
  display: flex;
  justify-content: center;
}

.backsheet-box {
  text-align: left;
  /* Center text within flex-box */
  margin: 10px;
  width: 100%;
  /* Full width on small screens */
}


/* Add modal styles to your CSS */
.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: gray;
  padding: 20px;
  font-size: 30px;
  border-radius: 8px;
  position: relative;
}

 
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  /* Adjust close button color to improve visibility */
  cursor: pointer;
}

select,
button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #666b66;
  /* Green background color */
  color: white;
  /* White text color */
  border-radius: 8px;
  /* Rounded corners */
  cursor: pointer;
}

/* Hover effect */
button:hover{
  background-color: #b7bab7;
  color: black;
}

/* Active effect */
button:active {
  background-color: #666b66;
  color: black;
  /* Green background color */
}

.large-button {
  padding: 15px 30px;
  font-size: 18px;
}